// scheme colors

$secondary: #f2f2f2;
$info: #9aafd6;
$primary: #0d6efd;
$dark: #212529;
$danger: #dc3545;
$warning: #ffc107;
$success: #198754;

$theme-colors: (
  "secondary": $secondary,
  "info": $info,
  "primary": $primary,
  "dark": $dark,
  "danger": $danger,
  "warning": $warning,
  "success": $success,
);

//Font  family

$font-family-sans-serif: "Roboto", sans-serif;

@import "../../node_modules/bootstrap/scss/bootstrap.scss";
